*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    -webkit-tap-highlight-color: transparent;
}
a{
    color: inherit;
}
ul li{
    list-style: none;

}

.flex-row{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
nav{
    min-width: 200px;
    height: 100vh;
    background-color: #D9D9D9;
    gap: 40%;
    overflow-x: hidden;
    transition: width 0.3s;
}
main{
    flex-grow: 1;
}
.upper-nav{
    justify-content: space-between;
}
.upper-section{
    height: 42.87vh;
    flex: 0 0 42.87vh;
}

.logo{
    padding-inline: 1rem;
    padding-block:1rem ;
}
.logo img{
    width: 132px;
    display: block;
    margin-inline:auto ;
}
ul{
    gap: 3vh;
}
ul img{
    width: 32px;
}
.nav-item{
    align-items: center;
    background :#C9C9C9;
    padding-block: 0.3rem;
    cursor: pointer;
    border-radius: 25px 0px 0px 25px;
}
.nav-item:hover{
    
    background :#c3b7cc;
    padding-block: 0.3rem;
    padding-inline-start: 0.4rem;
    transition: padding-inline-start 0.3s,background 0.3s;
}
.nav-item span {
    padding-inline-start: 1rem;
    font-weight: 600;
    color: #7B7B7B;
}
.nav-item img {
    padding-inline-start: 0.6rem;
}
#settings{
    width: 75px;
    display: flex;
    border-radius: 50%;
    background: #C1C1C1;
    aspect-ratio: 1/1;
    margin-inline: auto;
    
}
#settings img{
    width: 50px ;
    display: block;
    margin: auto;
}
main{
    height: 100vh;
}
.profile-pic img{
    width: 20vh;
}
#Myaccount{
    height: 100%;
    overflow-y: hidden;
    transition: height 0.5s ;
}

#Myaccount .upper-section{
    justify-content: end;
    border-radius: 0px 0px 40px 40px;
    margin-inline: 1rem;
    background-color: #35275f;
    box-shadow: 0px 0px 4px 2px #24124f5e;
    
}
.profile{
    padding: 2rem;
}
.infos{
    padding-inline: 1.3rem ;
    padding-block-start: 1.1rem;
    color: white;
}
.infos p:nth-child(1){
    font-size: 40;
    font-weight: 500;
}
.infos p:nth-child(2){
    margin-left: 9px;
}
.grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    flex-grow: 1;
}
.grid .bloc:nth-child(3){
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start:2 ;

}
.bloc{
    font-size: 14;
    padding-inline: calc(7vh - 1rem);
    padding-block: calc(5vh - 1rem);
    background-color: #c9c9c93e;
    border-radius: 25px;
    margin: 1rem;
    border: darkorchid 1px solid;
    box-shadow: 0px 0px 3px 1px #24124f5e;
}
.bloc h3{
    font-size: 25;
    font-weight: 500;
}
.bloc p{
    padding-inline: 1.1vw;
    padding-block-start: 2vh;
}
.medium{
    font-weight: 500;
}
.bold{
    font-weight: 600;
}
.pass-chang{
    color: #bb15d6;
    text-decoration: underline;
    padding-inline-start: 4rem;
    font-size: 13;
}
.red{
    color: #cd1b1b;
}
.delete-acc{
    color: #9f0e05;
    font-size: .95rem;
    text-decoration: underline;
}

#Media{
    height: 0;
    overflow-y: hidden;
    transition: height 0.5s ;
    background-color: #9f0e05;
}
#Games{
    height: 0;
    overflow-y: hidden;
    transition: height 0.5s ;
    background-color: cadetblue;
}
.whitetext{
    background-color: white;
}






@media (max-width : 40em) {
    .desktop{
        display: none;
    }
}